@import "../../mixins.scss";

.checkout-container {
  position: relative;
  h1 {
    font-weight: 600;
    line-height: 56px;
    color: var(--grey2);
    padding: 100px 0px;
  }

  .checkout-content {
    display: flex;
    gap: 20px;
    @include md {
      flex-direction: column-reverse;
    }
    .divider {
      margin: -120px 0 20px 0;
      @include md {
        margin: 0;
      }
    }
  }
}
