@import "../../mixins.scss";
.header {
  max-width: 1280px;
  width: calc(100% - 20px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  .help-icon {
    cursor: pointer;
  }
  .left-arrow {
    display: none;
  }
  &.show {
    background-color: #ffffff;
    backdrop-filter: blur(3.5px);
    margin-top: -20px;
  }
  &.hide {
    transform: translateY(-100px);
  }
  @include md {
    position: relative;
    .help-icon,
    .logo-icon {
      display: none;
    }
    .left-arrow {
      display: flex;
    }
  }
}
